<footer>
    <div class="footer-wrapper">
        <div class="ui secondary menu inverted clearfix">
            <div class="disclaimer">
                <p> <em> UPDATES: </em> If there is another group, recurring event, or significant information which ought to be included here, please
                leave a comment on <a href="https://www.lesswrong.com/posts/hDefuqC2Rbnr8THYW/index-of-rationalist-groups-in-the-bay-area-july-2024">
                    the LessWrong mirror</a> indicating what should be added, and we'll update both. Last updated 2024-11-18 </p>
            </div>
            <hr />
            <p class="left menu"> {{ site.title }} &copy; {{ site.year }}</p>
            <p class="right menu">
                <a href="https://github.com/skycrossman/bayrationality">{{ site.title }} Github</a>
            </p>
        </div>
    </div>
</footer>
