---
layout: default
---

<!-- one, two and then four card rows -->
<div class="ui centered grid stackable">
    {% for tag in site.tags %}
        {% if tag[0] == "communication" %}
            <div class="sixteen wide column section-heading">
                <h1> Communication </h1>
            </div>
            {% for post in tag[1] %}
                <div class="eight wide column">
                    {% include card.html %}
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
    {% for tag in site.tags %}
        {% if tag[0] != "communication" %}
            <div class="sixteen wide column section-heading">
                <h1> {{ tag[0] | capitalize }} </h1>
            </div>
            {% for post in tag[1] %}
                <div class="four wide column">
                    {% include card.html %}
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>
<div class="ui divider"></div>
